
/build/
/.idea/
/.gradle/
/src/main/resources/clientdb/
/src/main/resources/serverdb/
/src/main/resources/squScreenshot (91).png
/src/main/resources/doppio.log
/src/main/resources/iliya1.png
/src/main/resources/sakura1.png
